#footer {
  padding-bottom: 60px;
  background: #384452;
  color: #bfc9d3;
  border: none;
  margin: 0;

  p {
    color: #bfc9d3;
  }

  .block-title {
    color: #FFF;
    border-color: #FFF;
  }
}
