.navbar {
  min-height: 70px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #00b3fe;
}

.navbar-default .navbar-nav .is-active, .navbar-default .navbar-nav .is-active:hover, .navbar-default .navbar-nav .is-active:focus {
  color: #00b3fe;
  background-color: transparent;
}

.navbar-default {
  background-color: #384452;
  border-color: transparent;
  text-transform: uppercase;
}

.navbar-fixed-top {
  border: none;
}
